In [1]:
# Dependencies
import pandas as pd

## ETL: Data Extraction

In [2]:
# Store filepath in a variable
file = "data/Data.csv"

In [3]:
# Read our Data file with the pandas library
df = pd.read_csv(file, encoding="ISO-8859-1")

In [4]:
# Show header
df.head()

,"Season(1-Winter, 2-Spring, 3-Summer, 4-Fall)","Age at the time of analysis. 18-36 (0, 1)","Childish diseases (ie , chicken pox, measles, mumps, polio) 1) yes, 2) no.","Accident or serious trauma 1) yes, 2) no.","Surgical intervention 1) yes, 2) no.","High fevers in the last year 1) less than three months ago, 2) more than three months ago, 3) no","Frequency of alcohol consumption 1) several times a day, 2) every day, 3) several times a week, 4) once a week, 5) hardly ever or never","Smoking habit 1) never, 2) occasional 3) daily.",Number of hours spent sitting per day ene-16,"Output Diagnosis(0-Normal, 1-Altered)"
0,-0.33,0.69,0,1,1,0,0.8,0,0.88,0
1,-0.33,0.94,1,0,1,0,0.8,1,0.31,1
2,-0.33,0.50,1,0,0,0,1.0,-1,0.50,0
3,-0.33,0.75,0,1,1,0,1.0,-1,0.38,0
4,-0.33,0.67,1,1,0,0,0.8,-1,0.50,1

In [5]:
# Change column names
df.columns = ['season', 'age', 'diseases', 'accident', 'surgery', 'fever', 'alcohol', 'smoking', 'sitting', 'diagnosis']

In [6]:
# Show df with new column names
df.head()

,season,age,diseases,accident,surgery,fever,alcohol,smoking,sitting,diagnosis
0,-0.33,0.69,0,1,1,0,0.8,0,0.88,0
1,-0.33,0.94,1,0,1,0,0.8,1,0.31,1
2,-0.33,0.50,1,0,0,0,1.0,-1,0.50,0
3,-0.33,0.75,0,1,1,0,1.0,-1,0.38,0
4,-0.33,0.67,1,1,0,0,0.8,-1,0.50,1

## ETL: Data Transformation

In [7]:
#splitting fever column
df_one = pd.get_dummies(df, columns=['fever'], prefix = ['fever'])
df_one.head()

,season,age,diseases,accident,surgery,alcohol,smoking,sitting,diagnosis,fever_-1,fever_0,fever_1
0,-0.33,0.69,0,1,1,0.8,0,0.88,0,0,1,0
1,-0.33,0.94,1,0,1,0.8,1,0.31,1,0,1,0
2,-0.33,0.50,1,0,0,1.0,-1,0.50,0,0,1,0
3,-0.33,0.75,0,1,1,1.0,-1,0.38,0,0,1,0
4,-0.33,0.67,1,1,0,0.8,-1,0.50,1,0,1,0

In [8]:
#splitting alcohol column
df_two = pd.get_dummies(df_one, columns=['alcohol'], prefix = ['alcohol'])
df_two.head()

,season,age,diseases,accident,surgery,smoking,sitting,diagnosis,fever_-1,fever_0,fever_1,alcohol_0.2,alcohol_0.4,alcohol_0.6,alcohol_0.8,alcohol_1.0
0,-0.33,0.69,0,1,1,0,0.88,0,0,1,0,0,0,0,1,0
1,-0.33,0.94,1,0,1,1,0.31,1,0,1,0,0,0,0,1,0
2,-0.33,0.50,1,0,0,-1,0.50,0,0,1,0,0,0,0,0,1
3,-0.33,0.75,0,1,1,-1,0.38,0,0,1,0,0,0,0,0,1
4,-0.33,0.67,1,1,0,-1,0.50,1,0,1,0,0,0,0,1,0

In [9]:
#splitting smoking column
df_three = pd.get_dummies(df_two, columns=['smoking'], prefix = ['smoking'])
df_three.head()

,season,age,diseases,accident,surgery,sitting,diagnosis,fever_-1,fever_0,fever_1,alcohol_0.2,alcohol_0.4,alcohol_0.6,alcohol_0.8,alcohol_1.0,smoking_-1,smoking_0,smoking_1
0,-0.33,0.69,0,1,1,0.88,0,0,1,0,0,0,0,1,0,0,1,0
1,-0.33,0.94,1,0,1,0.31,1,0,1,0,0,0,0,1,0,0,0,1
2,-0.33,0.50,1,0,0,0.50,0,0,1,0,0,0,0,0,1,1,0,0
3,-0.33,0.75,0,1,1,0.38,0,0,1,0,0,0,0,0,1,1,0,0
4,-0.33,0.67,1,1,0,0.50,1,0,1,0,0,0,0,1,0,1,0,0

In [10]:
df_three.loc[df_three['sitting'] > 0.5, 'sitting'] = 1

In [11]:
df_three.head()

,season,age,diseases,accident,surgery,sitting,diagnosis,fever_-1,fever_0,fever_1,alcohol_0.2,alcohol_0.4,alcohol_0.6,alcohol_0.8,alcohol_1.0,smoking_-1,smoking_0,smoking_1
0,-0.33,0.69,0,1,1,1.00,0,0,1,0,0,0,0,1,0,0,1,0
1,-0.33,0.94,1,0,1,0.31,1,0,1,0,0,0,0,1,0,0,0,1
2,-0.33,0.50,1,0,0,0.50,0,0,1,0,0,0,0,0,1,1,0,0
3,-0.33,0.75,0,1,1,0.38,0,0,1,0,0,0,0,0,1,1,0,0
4,-0.33,0.67,1,1,0,0.50,1,0,1,0,0,0,0,1,0,1,0,0

In [12]:
df_three.loc[df_three['sitting'] <= 0.5, 'sitting'] = 0.5

In [13]:
df_three.head()

,season,age,diseases,accident,surgery,sitting,diagnosis,fever_-1,fever_0,fever_1,alcohol_0.2,alcohol_0.4,alcohol_0.6,alcohol_0.8,alcohol_1.0,smoking_-1,smoking_0,smoking_1
0,-0.33,0.69,0,1,1,1.0,0,0,1,0,0,0,0,1,0,0,1,0
1,-0.33,0.94,1,0,1,0.5,1,0,1,0,0,0,0,1,0,0,0,1
2,-0.33,0.50,1,0,0,0.5,0,0,1,0,0,0,0,0,1,1,0,0
3,-0.33,0.75,0,1,1,0.5,0,0,1,0,0,0,0,0,1,1,0,0
4,-0.33,0.67,1,1,0,0.5,1,0,1,0,0,0,0,1,0,1,0,0

In [14]:
df_four = pd.get_dummies(df_three, columns=['sitting'], prefix = ['sitting'])

In [15]:
df_five = pd.get_dummies(df_four, columns=['season'], prefix = ['season'])

In [16]:
df_five.loc[df_five['age'] > 0.5, 'age'] = 1

In [17]:
df_five.loc[df_five['age'] <= 0.5, 'age'] = 0.5

In [18]:
df_five.head()

,age,diseases,accident,surgery,diagnosis,fever_-1,fever_0,fever_1,alcohol_0.2,alcohol_0.4,...,alcohol_1.0,smoking_-1,smoking_0,smoking_1,sitting_0.5,sitting_1.0,season_-1.0,season_-0.33,season_0.33,season_1.0
0,1.0,0,1,1,0,0,1,0,0,0,...,0,0,1,0,0,1,0,1,0,0
1,1.0,1,0,1,1,0,1,0,0,0,...,0,0,0,1,1,0,0,1,0,0
2,0.5,1,0,0,0,0,1,0,0,0,...,1,1,0,0,1,0,0,1,0,0
3,1.0,0,1,1,0,0,1,0,0,0,...,1,1,0,0,1,0,0,1,0,0
4,1.0,1,1,0,1,0,1,0,0,0,...,0,1,0,0,1,0,0,1,0,0

In [19]:
df_six = pd.get_dummies(df_five, columns=['age'], prefix = ['age'])

In [20]:
df_six.head()

,diseases,accident,surgery,diagnosis,fever_-1,fever_0,fever_1,alcohol_0.2,alcohol_0.4,alcohol_0.6,...,smoking_0,smoking_1,sitting_0.5,sitting_1.0,season_-1.0,season_-0.33,season_0.33,season_1.0,age_0.5,age_1.0
0,0,1,1,0,0,1,0,0,0,0,...,1,0,0,1,0,1,0,0,0,1
1,1,0,1,1,0,1,0,0,0,0,...,0,1,1,0,0,1,0,0,0,1
2,1,0,0,0,0,1,0,0,0,0,...,0,0,1,0,0,1,0,0,1,0
3,0,1,1,0,0,1,0,0,0,0,...,0,0,1,0,0,1,0,0,0,1
4,1,1,0,1,0,1,0,0,0,0,...,0,0,1,0,0,1,0,0,0,1

In [21]:
df_six.columns

Index(['diseases', 'accident', 'surgery', 'diagnosis', 'fever_-1', 'fever_0',
       'fever_1', 'alcohol_0.2', 'alcohol_0.4', 'alcohol_0.6', 'alcohol_0.8',
       'alcohol_1.0', 'smoking_-1', 'smoking_0', 'smoking_1', 'sitting_0.5',
       'sitting_1.0', 'season_-1.0', 'season_-0.33', 'season_0.33',
       'season_1.0', 'age_0.5', 'age_1.0'],
      dtype='object')

In [22]:
#renaming columns:

df_six.rename(columns={
    'fever_-1': 'fever_1yr',
    'fever_0': 'fever_<3mo',
    'fever_1': 'fever_3mo_1yr',
    'alcohol_0.2': 'alcohol_mday',
    'alcohol_0.4': 'alcohol_1day',   
    'alcohol_0.6': 'alcohol_mweek',
    'alcohol_0.8': 'alcohol_1week',
    'alcohol_1.0': 'alcohol_negligent',
    'smoking_-1': 'smoke_never',
    'smoking_0': 'smoke_occ',
    'smoking_1': 'smoke_daily',
    'sitting_0.5': 'sitting_<=8hrs',
    'sitting_1.0': 'sitting_>8hrs',
    'season_-1.0': 'season_winter',
    'season_-0.33': 'season_spring',
    'season_0.33': 'season_summer',
    'season_1.0': 'season_fall',
    'age_0.5': 'age_18-27',
    'age_1.0': 'age_28-36'
}, inplace=True)

df_six.columns

Index(['diseases', 'accident', 'surgery', 'diagnosis', 'fever_1yr',
       'fever_<3mo', 'fever_3mo_1yr', 'alcohol_mday', 'alcohol_1day',
       'alcohol_mweek', 'alcohol_1week', 'alcohol_negligent', 'smoke_never',
       'smoke_occ', 'smoke_daily', 'sitting_<=8hrs', 'sitting_>8hrs',
       'season_winter', 'season_spring', 'season_summer', 'season_fall',
       'age_18-27', 'age_28-36'],
      dtype='object')

In [23]:
X = df_six.drop("diagnosis", axis=1)
y = df_six["diagnosis"]
print(X.shape, y.shape)

(100, 22) (100,)

## Logistic Regression

In [24]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, stratify=y)

In [25]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [26]:
classifier.fit(X_train, y_train)

C:\Users\Rika\Anaconda3\envs\PythonData2\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [27]:
print(f"Training Data Score: {classifier.score(X_train, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test, y_test)}")

Training Data Score: 0.88
Testing Data Score: 0.84

## Random Forest Classifier

In [28]:
from sklearn.ensemble import RandomForestClassifier

In [29]:
rf = RandomForestClassifier(n_estimators=200)
rf = rf.fit(X_train, y_train)
rf.score(X_train, y_train)

1.0

In [30]:
rf.score(X_test, y_test)

0.84

In [31]:
importances = rf.feature_importances_
importances

array([0.0810568 , 0.08776665, 0.09413683, 0.04635754, 0.05304878,
       0.03470282, 0.00515863, 0.00019371, 0.05722908, 0.05578766,
       0.04364459, 0.06213149, 0.04975362, 0.04335391, 0.01932002,
       0.02034592, 0.04175603, 0.04249765, 0.00333001, 0.10071398,
       0.02707329, 0.03064101])

## Decision Tree

In [32]:
from sklearn import tree

In [33]:
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X_train, y_train)
clf.score(X_test, y_test)

0.76

## SVC - Serial Vector Machines

In [34]:
from sklearn.svm import SVC

In [35]:
SVCmodel = SVC(kernel='linear')
SVCmodel

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
    kernel='linear', max_iter=-1, probability=False, random_state=None,
    shrinking=True, tol=0.001, verbose=False)

In [36]:
SVCmodel.fit(X_train, y_train)

predictions = SVCmodel.predict(X_test)
predictions

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0], dtype=int64)

In [37]:
from sklearn.metrics import classification_report

print(classification_report(y_test, predictions, target_names=['Normal', 'Abnormal']))

              precision    recall  f1-score   support

      Normal       0.88      1.00      0.94        22
    Abnormal       0.00      0.00      0.00         3

    accuracy                           0.88        25
   macro avg       0.44      0.50      0.47        25
weighted avg       0.77      0.88      0.82        25

C:\Users\Rika\Anaconda3\envs\PythonData2\lib\site-packages\sklearn\metrics\classification.py:1437: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)